
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body ng-app="sampleApp" ng-controller="SampleCtrl as ctrl">
  <ul>
    <li ng-repeat="message in ctrl.messages">
      <!-- edit a message -->
      <input ng-model="message.text" ng-change="messages.$save(message)" />

      <!-- delete a message -->
      <button ng-click="ctrl.messages.$remove(message)">Delete Message</button>
    </li>
  </ul>

  <!-- push a new message onto the array -->
  <form ng-submit="ctrl.addMessage()">
    <input ng-model="ctrl.newMessageText" />
    <button type="submit">Add Message</button>
  </form>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="node_modules/angularfire/dist/angularfire.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>
